.board{
  width:100%;
}
.boardInterior{
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap; 
}
.inlineBlock{
  display: inline-block;
}
.board.click{
  width:68%;
}
.settingTodo{
  width:0%;
}
.settingTodo.click{
  width:28%;
}
ul[dnd-list], ul[dnd-list] > li {
    position: relative;
    list-style-type: none;
    min-height: 50px;
}
.listTodo{
  float:left;

  width:350px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}