.boardInterior{
    width: 100%;
    overflow: auto;
    display: table;
    white-space: nowrap; 
}
.inlineBlock{
  display: inline-block;
  white-space: normal; 
  vertical-align: top;
}
.board{
  width: 100%;
  overflow: auto; 
}
.board.click{
  width: 75%;
}
.settingTodo{
  display: none;
}

.settingTodo.click{
  position: absolute;
  width:25%;
  top:0px;
  right: 0px;
  display: block;
  overflow: auto;
  background-color: #ddd;
}
.listTodoDnd, .listTodoDnd > li {
    position: relative;
    list-style-type: none;
    min-height: 50px;
}
.boardDnd, .boardDnd > li {
    position: relative;
    list-style-type: none;
    min-width: 50px;
}
.listTodo{
  float:left;

  width:300px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.toShowDelList{
  margin-left: 10px;
  margin-right: 10px;
}

.dndDraggingSource {
  display: none;
}

.dndPlaceholder {
    background-color: #ddd !important;
    width: 268px;
    min-height: 40px;
    margin-top: 11px;
    display: inline-block;
}
