.board{
  width:100%;
}
.boardInterior{
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    display: table;
    white-space: nowrap; 
}
.inlineBlock{
  display: inline-block;
  white-space: normal; 
  vertical-align: top;
}
.board.click{
  width:68%;
}
.settingTodo{
  width:0%;
}
.settingTodo.click{
  width:28%;
}
.listTodoDnd, .listTodoDnd > li {
    position: relative;
    list-style-type: none;
    min-height: 50px;
}
.boardDnd, .boardDnd > li {
    position: relative;
    list-style-type: none;
    min-width: 50px;
}
.listTodo{
  float:left;

  width:350px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.toShowDelList{
  margin-left: 10px;
  margin-right: 10px;
}

.dndDraggingSource {
  display: none;
}
.listTodoDnd .dndPlaceholder {
    background-color: #ddd !important;
    min-height: 30px;
    display: inline-block;
}

.boardDnd .dndPlaceholder {
    background-color: #ddd !important;
    width: 318px;
    min-height: 40px;
    margin-top: 11px;
    display: inline-block;
}
