<div class="panel panel-success">
	<div class="panel-heading" ng-bind="$ctrl.object.header"></div>
	<ul class="panel-body listTodoDnd"
			  dnd-list="$ctrl.object.listTodo"
        dnd-allowed-types="['itemType']"
	      dnd-dragover="true"
	      dnd-drop="item">

	  <li  ng-repeat="todo in $ctrl.object.listTodo"
			    dnd-draggable="todo"
          dnd-type="'itemType'"
          dnd-effect-allowed="copyMove"
          dnd-moved="$ctrl.object.listTodo.splice($index, 1)">
      
  		<div ng-if="!$ctrl.showDelete[$index]" class="text-right small">
  			<span ng-click="$ctrl.showDelete[$index] = !$ctrl.showDelete[$index]">удалить задачу</span>
  		</div>
  		<table width='100%' ng-if="$ctrl.showDelete[$index]">
        <tr>
  			  <td><button type="button" class="btn btn-success btn-xs" ng-click="$ctrl.deleteTodo($index)">удалить</button></td>
  			  <td class="text-right"><button type="button" class="btn btn-danger btn-xs" ng-click="$ctrl.showDelete[$index] = !$ctrl.showDelete[$index]">отмена</button></td>
        </tr>
  		</table>
	  	<todo-elem showSetting="$ctrl.showSet(obj)" object='todo'></todo-elem>
	  </li>
  </ul>

	<div class="text-center panel-body bg-success"> 
    <div ng-if="!$ctrl.showAddTodo">
	  	<button type="button" class="btn btn-default btn-xs" ng-click="$ctrl.showAddTodo = !$ctrl.showAddTodo">Добавить задачу</button>
  	</div>
  	<div class="text-left" ng-if="$ctrl.showAddTodo">
  		<input class="form-control" type="text" ng-model="$ctrl.textNewTodo">
  		<button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.appendNewTodo()">Добавить</button>
  		<button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.showAddTodo = !$ctrl.showAddTodo">X</button>
  	</div>
  </div>
</div>